<div class="text-white py-4 bg-dark-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>A co-founder at one of the world's largesst communities.</h1>
        <p class="text-readonly-light">
          The combined experience I have working at the top Fortune 500
          companies has allowed me to develoepr a skillset that helps me in not
          just development, but in every aspect of any business.
        </p>
        <p class="text-readonly-light">
          I'm proud to announce that I am now working at one of the world's
          largest communities teaching young minds about how to sell yourself as
          a developer and open them to a whole new world of opportunities.
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-readonly-light">
          As a developer, you have everyting available to you and all that's
          hlding you back is yourself.
        </p>
        <p class="text-readonly-light">
          A quote I live by perfectly ilustrates what I mean.
        </p>
        <p class="text-readonly-light">
          "How big would you dream, if you <b>knew</b> you wouldn't fail?"
          You've already gone through the hardest parts being a developer, it's
          time to elevate your skills and become a leader in something you're
          passionate about.
        </p>
        <p class="text-readonly-light">
          I'm happy to chat over coffee some time about how I can help your
          company.
        </p>
      </div>
    </div>
  </div>
</div>
