<div class="text-white py-4 bg-dark-grey">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <h6>Zahid Shaikh</h6>
      <div>
        <img
          src="./assets/images/Social Icons/Twitter.svg"
          class="px-2"
          alt=""
        />
        <img
          src="./assets/images/Social Icons/LinkedIn.svg"
          class="px-2"
          alt=""
        />
        <img
          src="./assets/images/Social Icons/Github.svg"
          class="px-2"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
