<div class="d-flex align-items-center justify-content-between text-white py-4">
  <div>
    <h4 class="mb-0">Zahid Shaikh</h4>
  </div>
  <div>
    <ul class="flex-row navbar-nav">
      <li class="nav-item">
        <a class="nav-link"> Articles </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> Chats </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> Awards </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> About </a>
      </li>
    </ul>
  </div>
  <div>
    <button class="btn btn-warning text-black px-4 py-3 rounded-0">
      <h6 class="mb-0 font-prata fw-bold">Get in touch</h6>
    </button>
  </div>
</div>
